# global ignores:
.vs
.cspellcache

# client ignores:
client/node_modules
client/build
client/package-lock.json
client/.cspellcache
client/.vite

# server ignores:
server/node_modules
server/build
server/package-lock.json
server/.cspellcache