extends baseEmail

block content
  p  #{firstName} !
  p 专  转专 砖 
  p  砖 爪专转 砖转砖 抓 注 拽砖专 转 转  砖
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') 转 
  p  转/ 拽拽/ 注专  砖 砖  转住住/ 转 ...
  p - #{adminName}