extends baseEmail

block content
  p  #{firstName} !
  p 专  转专 砖 
  p  转砖/ 注转 转转 驻专驻  砖 专转 转 
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') 住祝 转转 驻专驻
  p  转/ 拽拽/ 注专  砖 砖  转住住/ 转 ...
  p - #{adminName}